<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header('create')">
    <meta charset="UTF-8"/>
    <title>Create</title>

</head>
<body>
<nav th:replace="partials/navbar :: navbar">
</nav>
<form class="text-center" action="/posts/create" method="post" th:object="${post}" >
    Title:
    <input th:field="*{title}"/>
    <br/>
    Description:
    <input th:field="*{description}"/>
    <br/>
    <input class="btn btn-success" type="submit"/>
</form>
</body>
</html>