<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('index')">
    <meta charset="UTF-8" />

</head>
<body>
<nav th:replace="partials/navbar :: navbar">

</nav>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Post ID</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}" th:object="${post}">

        <td th:text="*{id}"></td>

        <td><a th:href="@{'/posts/' + *{id}}" th:text="*{title}"></a></td>

        <td th:text="*{description}"></td>

        <td><a th:href="@{'/posts/' + *{id} + '/edit'}">Edit</a></td>

    </tr>
    </tbody>
</table>


</body>
</html>